<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName" required>

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">

  <div formGroupName="Request">
    <h2>Request Information</h2>

    <label for="about">Type of Program: </label>
    <input id="about" type="text" formControlName="about">

    <label for="organization">Organization: </label>
    <input id="organization" type="text" formControlName="organization">

    <label for="purpose">Purpose of program: </label>
    <input id="purpose"type="text" formControlName="purpose">
  </div>

  <div formArrayName="Skills">
    <h2>Skills</h2>
    <button (click)="addAlias()">+ Add skills</button>

    <div *ngFor="let alias of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <label for="alias-{{ i }}">Skills:</label>
      <input id="alias-{{ i }}" type="text" [formControlName]="i">
    </div>
  </div>


  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<hr>

<p>Form Value: {{ profileForm.value | json }}</p>

<p>Form Status: {{ profileForm.status }}</p>

<button (click)="updateProfile()">Update request</button>

